<launch>
  <!-- 垂起通信 -->
  <node pkg="zhihang_start" type="vtol_communication.py" name="vtol_comm" args="standard_vtol 0" output="screen"/>

  <!-- 旋翼通信 -->
  <node pkg="zhihang_start" type="multirotor_communication.py" name="iris_comm" args="iris 0" output="screen"/>

  <!-- Gazebo 位姿真值 -->
  <node pkg="zhihang_start" type="get_local_pose.py" name="vtol_pose" args="standard_vtol 1"  output="screen"/>
  <node pkg="zhihang_start" type="get_local_pose.py" name="iris_pose" args="iris 1" output="screen"/>

  <!-- 发布 GPS 引导点 -->
  <node pkg="zhihang_start" type="Pub_first_point.py" name="pub_point" output="screen"/>

  <!-- 发布中心点 -->
  <node pkg="zhihang_start" type="Pub_downtown.py" name="pub_downtown" output="screen"/>

  <!-- 控制目标移动 -->
  <node pkg="zhihang_start" type="zhihang_control_targets.py" name="control_targets" output="screen"/>
</launch>

